/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2017, 17:18:20
    Author     : Desenvolvimento
*/

#container_tbl_pessoa{
    height: 600px;
    overflow-y: scroll;
}